In [24]:
import pandas as pd
import pickle
import os
import numpy as np

In [2]:
data_path = "../data/raw"
data = pd.read_pickle(os.path.join(data_path, "case_14_1_14_feature_df.pkl"))

with open(os.path.join(data_path, "case_14_1_14_feature_df.pkl"), "rb") as f:
    data = pickle.load(f)

df = pd.DataFrame(data)

In [3]:
df['date_time'] = df['key'].str[10:]
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y/%m/%d/%H%M%S')
print(df['date_time'])

0       2023-02-02 04:41:47
1       2023-02-02 04:51:47
2       2023-02-02 04:56:47
3       2023-02-02 05:01:47
4       2023-02-02 05:06:47
                ...
24510   2023-07-18 13:03:01
24511   2023-07-18 13:13:01
24512   2023-07-18 13:18:01
24513   2023-07-18 13:23:01
24514   2023-07-18 13:28:01
Name: date_time, Length: 24515, dtype: datetime64[ns]

In [4]:
df['timestamp'] = df[['date_time']].apply(lambda x: x[0].timestamp(), axis=1).astype(int)

In [5]:
df.head()

,kurtosis_u,rms_u,rms_v,rms_w,peaktoaverage_u,crest_factor,skew,shape_factor,impulse_factor,clearance_factor,...,coupler_feature_9x,gear_feature_harmonics1,gear_feature_harmonics2,gear_feature_harmonics3,coupling_feature_harmonics1,coupling_feature_harmonics2,coupling_feature_harmonics3,key,date_time,timestamp
0,1.753127,2.845424,2.708700,2.737490,-8310.165039,1.712628,-0.006636,1.139653,2.747551,2.410866,...,0.059731,0.061195,0.070836,0.058804,0.056479,0.045703,0.041871,/14/01/14/2023/02/02/044147,2023-02-02 04:41:47,1675312907
1,1.680246,2.938570,2.764102,2.812321,8861.185547,1.728665,0.003393,1.134826,2.741292,2.415606,...,0.030533,0.033386,0.042268,0.034995,0.080450,0.065032,0.059467,/14/01/14/2023/02/02/045147,2023-02-02 04:51:47,1675313507
2,1.722446,2.869211,2.705374,2.748573,-6235.308594,1.731710,-0.003971,1.137625,2.803357,2.464218,...,0.053100,0.041371,0.050664,0.042267,0.071690,0.056206,0.050559,/14/01/14/2023/02/02/045647,2023-02-02 04:56:47,1675313807
3,1.739251,2.853687,2.711607,2.745151,-20881.365234,1.712422,-0.009176,1.138387,2.857037,2.509723,...,0.055627,0.050698,0.058783,0.049408,0.059100,0.047147,0.042935,/14/01/14/2023/02/02/050147,2023-02-02 05:01:47,1675314107
4,1.752050,2.815955,2.695473,2.724919,5654.446289,1.686258,-0.012330,1.138927,2.809740,2.467006,...,0.071158,0.064117,0.067721,0.056640,0.040413,0.035234,0.033054,/14/01/14/2023/02/02/050647,2023-02-02 05:06:47,1675314407

In [ ]:
df.columns

In [6]:
df_selected = df[['timestamp', 'rms_u', 'kurtosis_u', 'peaktoaverage_u', 'crest_factor', 'skew',
                  'shape_factor', 'impulse_factor', 'clearance_factor', 'kurtosis_pvm', 'rms_pvm', 'peaktoaverage_pvm',
                  'skew_pvm', 'shape_factor_pvm', 'impulse_factor_pvm', 'clearance_factor_pvm', 'unbalance',
                  'gear_feature_1x', 'gear_feature_2x', 'gear_feature_3x', 'gear_feature_4x', 'gear_feature_5x',
                  'gear_feature_0.5x', 'gear_feature_1.5x',
                  'coupler_feature_1x', 'coupler_feature_2x', 'coupler_feature_3x', 'coupler_feature_4x', 'coupler_feature_5x', 'coupler_feature_6x',
                  'coupler_feature_7x', 'coupler_feature_8x', 'coupler_feature_9x', 
                  'gear_feature_harmonics1', 'gear_feature_harmonics2', 'gear_feature_harmonics3', 
                  'coupling_feature_harmonics1', 'coupling_feature_harmonics2', 'coupling_feature_harmonics3']]

In [7]:
df_selected.head()

,timestamp,rms_u,kurtosis_u,peaktoaverage_u,crest_factor,skew,shape_factor,impulse_factor,clearance_factor,kurtosis_pvm,...,coupler_feature_6x,coupler_feature_7x,coupler_feature_8x,coupler_feature_9x,gear_feature_harmonics1,gear_feature_harmonics2,gear_feature_harmonics3,coupling_feature_harmonics1,coupling_feature_harmonics2,coupling_feature_harmonics3
0,1675312907,2.845424,1.753127,-8310.165039,1.712628,-0.006636,1.139653,2.747551,2.410866,6.136347,...,0.005939,0.015773,0.048893,0.059731,0.061195,0.070836,0.058804,0.056479,0.045703,0.041871
1,1675313507,2.938570,1.680246,8861.185547,1.728665,0.003393,1.134826,2.741292,2.415606,6.368169,...,0.028010,0.027687,0.026629,0.030533,0.033386,0.042268,0.034995,0.080450,0.065032,0.059467
2,1675313807,2.869211,1.722446,-6235.308594,1.731710,-0.003971,1.137625,2.803357,2.464218,6.887011,...,0.012273,0.018594,0.039598,0.053100,0.041371,0.050664,0.042267,0.071690,0.056206,0.050559
3,1675314107,2.853687,1.739251,-20881.365234,1.712422,-0.009176,1.138387,2.857037,2.509723,6.737689,...,0.005962,0.015943,0.047686,0.055627,0.050698,0.058783,0.049408,0.059100,0.047147,0.042935
4,1675314407,2.815955,1.752050,5654.446289,1.686258,-0.012330,1.138927,2.809740,2.467006,6.482665,...,0.012544,0.026781,0.063688,0.071158,0.064117,0.067721,0.056640,0.040413,0.035234,0.033054

In [8]:
cols = df_selected.columns
cols

Index(['timestamp', 'rms_u', 'kurtosis_u', 'peaktoaverage_u', 'crest_factor',
       'skew', 'shape_factor', 'impulse_factor', 'clearance_factor',
       'kurtosis_pvm', 'rms_pvm', 'peaktoaverage_pvm', 'skew_pvm',
       'shape_factor_pvm', 'impulse_factor_pvm', 'clearance_factor_pvm',
       'unbalance', 'gear_feature_1x', 'gear_feature_2x', 'gear_feature_3x',
       'gear_feature_4x', 'gear_feature_5x', 'gear_feature_0.5x',
       'gear_feature_1.5x', 'coupler_feature_1x', 'coupler_feature_2x',
       'coupler_feature_3x', 'coupler_feature_4x', 'coupler_feature_5x',
       'coupler_feature_6x', 'coupler_feature_7x', 'coupler_feature_8x',
       'coupler_feature_9x', 'gear_feature_harmonics1',
       'gear_feature_harmonics2', 'gear_feature_harmonics3',
       'coupling_feature_harmonics1', 'coupling_feature_harmonics2',
       'coupling_feature_harmonics3'],
      dtype='object')

In [9]:
for idx, col in enumerate(cols):
    print(idx, col)
    if idx == 0:
        continue
    else:
        df_selected = df_selected.rename(columns={col: str(idx-1)})

0 timestamp
1 rms_u
2 kurtosis_u
3 peaktoaverage_u
4 crest_factor
5 skew
6 shape_factor
7 impulse_factor
8 clearance_factor
9 kurtosis_pvm
10 rms_pvm
11 peaktoaverage_pvm
12 skew_pvm
13 shape_factor_pvm
14 impulse_factor_pvm
15 clearance_factor_pvm
16 unbalance
17 gear_feature_1x
18 gear_feature_2x
19 gear_feature_3x
20 gear_feature_4x
21 gear_feature_5x
22 gear_feature_0.5x
23 gear_feature_1.5x
24 coupler_feature_1x
25 coupler_feature_2x
26 coupler_feature_3x
27 coupler_feature_4x
28 coupler_feature_5x
29 coupler_feature_6x
30 coupler_feature_7x
31 coupler_feature_8x
32 coupler_feature_9x
33 gear_feature_harmonics1
34 gear_feature_harmonics2
35 gear_feature_harmonics3
36 coupling_feature_harmonics1
37 coupling_feature_harmonics2
38 coupling_feature_harmonics3

In [10]:
df_selected

,timestamp,0,1,2,3,4,5,6,7,8,...,28,29,30,31,32,33,34,35,36,37
0,1675312907,2.845424,1.753127,-8310.165039,1.712628,-0.006636,1.139653,2.747551,2.410866,6.136347,...,0.005939,0.015773,0.048893,0.059731,0.061195,0.070836,0.058804,0.056479,0.045703,0.041871
1,1675313507,2.938570,1.680246,8861.185547,1.728665,0.003393,1.134826,2.741292,2.415606,6.368169,...,0.028010,0.027687,0.026629,0.030533,0.033386,0.042268,0.034995,0.080450,0.065032,0.059467
2,1675313807,2.869211,1.722446,-6235.308594,1.731710,-0.003971,1.137625,2.803357,2.464218,6.887011,...,0.012273,0.018594,0.039598,0.053100,0.041371,0.050664,0.042267,0.071690,0.056206,0.050559
3,1675314107,2.853687,1.739251,-20881.365234,1.712422,-0.009176,1.138387,2.857037,2.509723,6.737689,...,0.005962,0.015943,0.047686,0.055627,0.050698,0.058783,0.049408,0.059100,0.047147,0.042935
4,1675314407,2.815955,1.752050,5654.446289,1.686258,-0.012330,1.138927,2.809740,2.467006,6.482665,...,0.012544,0.026781,0.063688,0.071158,0.064117,0.067721,0.056640,0.040413,0.035234,0.033054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24510,1689685381,2.664243,1.568983,-55622.578125,1.840725,0.027338,1.114720,2.670484,2.395655,4.034387,...,0.028281,0.027723,0.027700,0.035889,0.019923,0.020677,0.020636,0.050148,0.047006,0.042940
24511,1689685981,2.688284,1.557134,-10300.849609,1.823476,0.022444,1.114147,2.460248,2.208189,3.739564,...,0.024666,0.030568,0.025339,0.035042,0.019779,0.021163,0.020600,0.048918,0.041982,0.038387
24512,1689686281,2.663389,1.559500,20971.089844,1.867251,0.020417,1.113943,2.452236,2.201403,3.668070,...,0.025388,0.030514,0.028595,0.036840,0.020898,0.020220,0.019789,0.050277,0.044772,0.041752
24513,1689686581,2.667415,1.557254,-18322.546875,1.849324,0.017526,1.113979,2.345846,2.105825,3.666546,...,0.024529,0.031204,0.028967,0.040018,0.018734,0.017954,0.017444,0.055905,0.053501,0.047971
24514,1689686881,2.636253,1.560322,6404.552734,1.868057,0.011165,1.114067,2.288366,2.054065,3.731836,...,0.028146,0.032452,0.028065,0.038644,0.016817,0.015952,0.015267,0.056829,0.053259,0.048060

In [11]:
from orion.data import load_signal

signal_path = 'multivariate/S-1'

data = load_signal(signal_path)
data.head()

,timestamp,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,24
0,1222819200,-0.366359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1222840800,-0.394108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1222862400,0.403625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1222884000,-0.362759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1222905600,-0.370746,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
data.columns

Index(['timestamp', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24'],
      dtype='object')

In [13]:
df_selected.columns

Index(['timestamp', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37'],
      dtype='object')

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10149 entries, 0 to 10148
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  10149 non-null  int64
 1   0          10149 non-null  float64
 2   1          10149 non-null  float64
 3   2          10149 non-null  float64
 4   3          10149 non-null  float64
 5   4          10149 non-null  float64
 6   5          10149 non-null  float64
 7   6          10149 non-null  float64
 8   7          10149 non-null  float64
 9   8          10149 non-null  float64
 10  9          10149 non-null  float64
 11  10         10149 non-null  float64
 12  11         10149 non-null  float64
 13  12         10149 non-null  float64
 14  13         10149 non-null  float64
 15  14         10149 non-null  float64
 16  15         10149 non-null  float64
 17  16         10149 non-null  float64
 18  17         10149 non-null  float64
 19  18         10149 non-null  float64
 20  19         10149 non-null  float64
 21  20         10149 non-null  float64
 22  21         10149 non-null  float64
 23  22         10149 non-null  float64
 24  23         10149 non-null  float64
 25  24         10149 non-null  float64
dtypes: float64(25), int64(1)
memory usage: 2.0 MB

In [21]:
df_selected.iloc[:, 1:] = df_selected.iloc[:, 1:].astype('float64')

In [22]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24515 entries, 0 to 24514
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  24515 non-null  int64
 1   0          24515 non-null  float64
 2   1          24515 non-null  float64
 3   2          24515 non-null  float64
 4   3          24515 non-null  float64
 5   4          24515 non-null  float64
 6   5          24515 non-null  float64
 7   6          24515 non-null  float64
 8   7          24515 non-null  float64
 9   8          24515 non-null  float64
 10  9          24515 non-null  float64
 11  10         24515 non-null  float64
 12  11         24515 non-null  float64
 13  12         24515 non-null  float64
 14  13         24515 non-null  float64
 15  14         24515 non-null  float64
 16  15         24515 non-null  float64
 17  16         24515 non-null  float64
 18  17         24515 non-null  float64
 19  18         24515 non-null  float64
 20  19         24515 non-null  float64
 21  20         24515 non-null  float64
 22  21         24515 non-null  float64
 23  22         24515 non-null  float64
 24  23         24515 non-null  float64
 25  24         24515 non-null  float64
 26  25         24515 non-null  float64
 27  26         24515 non-null  float64
 28  27         24515 non-null  float64
 29  28         24515 non-null  float64
 30  29         24515 non-null  float64
 31  30         24515 non-null  float64
 32  31         24515 non-null  float64
 33  32         24515 non-null  float64
 34  33         24515 non-null  float64
 35  34         24515 non-null  float64
 36  35         24515 non-null  float64
 37  36         24515 non-null  float64
 38  37         24515 non-null  float64
dtypes: float64(38), int64(1)
memory usage: 7.3 MB

In [25]:
df_new = df_selected[np.isfinite(df_selected).all(1)]

In [26]:
df_new

,timestamp,0,1,2,3,4,5,6,7,8,...,28,29,30,31,32,33,34,35,36,37
0,1675312907,2.845424,1.753127,-8310.165039,1.712628,-0.006636,1.139653,2.747551,2.410866,6.136347,...,0.005939,0.015773,0.048893,0.059731,0.061195,0.070836,0.058804,0.056479,0.045703,0.041871
1,1675313507,2.938570,1.680246,8861.185547,1.728665,0.003393,1.134826,2.741292,2.415606,6.368169,...,0.028010,0.027687,0.026629,0.030533,0.033386,0.042268,0.034995,0.080450,0.065032,0.059467
2,1675313807,2.869211,1.722446,-6235.308594,1.731710,-0.003971,1.137625,2.803357,2.464218,6.887011,...,0.012273,0.018594,0.039598,0.053100,0.041371,0.050664,0.042267,0.071690,0.056206,0.050559
3,1675314107,2.853687,1.739251,-20881.365234,1.712422,-0.009176,1.138387,2.857037,2.509723,6.737689,...,0.005962,0.015943,0.047686,0.055627,0.050698,0.058783,0.049408,0.059100,0.047147,0.042935
4,1675314407,2.815955,1.752050,5654.446289,1.686258,-0.012330,1.138927,2.809740,2.467006,6.482665,...,0.012544,0.026781,0.063688,0.071158,0.064117,0.067721,0.056640,0.040413,0.035234,0.033054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24510,1689685381,2.664243,1.568983,-55622.578125,1.840725,0.027338,1.114720,2.670484,2.395655,4.034387,...,0.028281,0.027723,0.027700,0.035889,0.019923,0.020677,0.020636,0.050148,0.047006,0.042940
24511,1689685981,2.688284,1.557134,-10300.849609,1.823476,0.022444,1.114147,2.460248,2.208189,3.739564,...,0.024666,0.030568,0.025339,0.035042,0.019779,0.021163,0.020600,0.048918,0.041982,0.038387
24512,1689686281,2.663389,1.559500,20971.089844,1.867251,0.020417,1.113943,2.452236,2.201403,3.668070,...,0.025388,0.030514,0.028595,0.036840,0.020898,0.020220,0.019789,0.050277,0.044772,0.041752
24513,1689686581,2.667415,1.557254,-18322.546875,1.849324,0.017526,1.113979,2.345846,2.105825,3.666546,...,0.024529,0.031204,0.028967,0.040018,0.018734,0.017954,0.017444,0.055905,0.053501,0.047971
24514,1689686881,2.636253,1.560322,6404.552734,1.868057,0.011165,1.114067,2.288366,2.054065,3.731836,...,0.028146,0.032452,0.028065,0.038644,0.016817,0.015952,0.015267,0.056829,0.053259,0.048060

In [28]:
from orion import Orion

hyperparameters = {
    "mlstars.custom.timeseries_preprocessing.rolling_window_sequences#1": {
        'target_column': 0 
    },
    'keras.Sequential.LSTMTimeSeriesRegressor#1': {
        'epochs': 5,
        'verbose': True
    }
}

orion = Orion(
    pipeline='lstm_dynamic_threshold',
    hyperparameters=hyperparameters
)

orion.fit(df_new)

/home/joonseo/anaconda3/envs/orion/lib/python3.8/site-packages/sklearn/impute/_base.py:356: FutureWarning: The 'verbose' parameter was deprecated in version 1.1 and will be removed in 1.3. A warning will always be raised upon the removal of empty columns in the future version.
  warnings.warn(
2023-10-18 17:47:53.610096: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcuda.so.1
2023-10-18 17:47:53.641208: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1716] Found device 0 with properties:
pciBusID: 0000:1b:00.0 name: NVIDIA A100-PCIE-40GB computeCapability: 8.0
coreClock: 1.41GHz coreCount: 108 deviceMemorySize: 39.56GiB deviceMemoryBandwidth: 1.41TiB/s
2023-10-18 17:47:53.641415: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1716] Found device 1 with properties:
pciBusID: 0000:88:00.0 name: NVIDIA A100-PCIE-40GB computeCapability: 8.0
coreClock: 1.41GHz coreCount: 108 deviceMemorySize: 39.56GiB deviceMemoryBandwidth: 1.41TiB/s
2023-10-18 17:47:53.641507: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcudart.so.10.1'; dlerror: libcudart.so.10.1: cannot open shared object file: No such file or directory
2023-10-18 17:47:53.641552: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcublas.so.10'; dlerror: libcublas.so.10: cannot open shared object file: No such file or directory
2023-10-18 17:47:53.667109: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcufft.so.10
2023-10-18 17:47:53.667459: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcurand.so.10
2023-10-18 17:47:53.667530: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcusolver.so.10'; dlerror: libcusolver.so.10: cannot open shared object file: No such file or directory
2023-10-18 17:47:53.667568: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcusparse.so.10'; dlerror: libcusparse.so.10: cannot open shared object file: No such file or directory
2023-10-18 17:47:53.667607: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcudnn.so.7'; dlerror: libcudnn.so.7: cannot open shared object file: No such file or directory
2023-10-18 17:47:53.667613: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1753] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2023-10-18 17:47:53.668008: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN)to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-10-18 17:47:53.692524: I tensorflow/core/platform/profile_utils/cpu_utils.cc:104] CPU Frequency: 2300000000 Hz
2023-10-18 17:47:53.697477: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x742b9a0 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2023-10-18 17:47:53.697527: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version
2023-10-18 17:47:53.700800: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1257] Device interconnect StreamExecutor with strength 1 edge matrix:
2023-10-18 17:47:53.700834: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1263]

Epoch 1/5
6/6 [==============================] - 2s 384ms/step - loss: 0.1475 - mse: 0.1475 - val_loss: 0.0993 - val_mse: 0.0993
Epoch 2/5
6/6 [==============================] - 2s 297ms/step - loss: 0.0818 - mse: 0.0818 - val_loss: 0.0701 - val_mse: 0.0701
Epoch 3/5
6/6 [==============================] - 2s 289ms/step - loss: 0.0711 - mse: 0.0711 - val_loss: 0.0811 - val_mse: 0.0811
Epoch 4/5
6/6 [==============================] - 2s 279ms/step - loss: 0.0562 - mse: 0.0562 - val_loss: 0.0746 - val_mse: 0.0746
Epoch 5/5
6/6 [==============================] - 2s 289ms/step - loss: 0.0527 - mse: 0.0527 - val_loss: 0.0578 - val_mse: 0.0578

In [30]:
orion.detect(df_new)

7/7 [==============================] - 1s 87ms/step

        start         end  severity
0  1680756107  1683002507  0.315754
1  1686717707  1688899307  0.216988